.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* --------------------------------- */

.app_body {
    height: 600px;
    width: 500px;
    background-color: aqua;
    margin: auto auto;
    border-radius: 10px;
}
.app_body-tilte {
    text-align: center;
}
.app_body-one {
    display: flex;
    justify-content: center;
}
.app_body-add {
    background-color: green;
    cursor: pointer;
    border-radius: 3px;
}
.app_body-input {
    height: 30px;
    margin-right: 6px;
}
.app_body-list {
    list-style: none;

    position: relative;
}
.app_body-item {
    margin-left: 40px;
}
.app_body-item-delete {
    position: absolute;
    right: 80px;
    background-color: rgb(226, 93, 93);
}
.app_body-item-delete:hover {
    cursor: pointer;
}
